<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="chaohu" />
<!-- Date: 2017-03-13 -->
	{% extends "base.html" %} 
	{% block title %}page not found - WM{% endblock %} 
	{% block page_content %}
		<div class="page-header">
			<h1>Not Found</h1>
			<a href="/">go home</a>
		</div>
	{% endblock %}
</html>

